#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  padding: 0px !important;

}
body,html {
  margin: 0;
  overflow: hidden;
}
canvas{
  /* background-color: #1E1E1E; */
  height: 100%;
}
.desktopContainer{
  background: center / cover no-repeat url("/bliss.jpg")!important;
  height: 96vh !important;
}